{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            Vous réserver le salon :  <b style="color: #994d00">{{ sallepriver.titre }}</b>
        </div>
        <div class="card-body text-center">
            <h6>Ce salon est actuellement disponible à la réservation</h6>
            <p class="card-text">Les prix sont de </p>
            <a href="{{ path('public') }}" class="btn btn-primary" id="btn">En savoir plus</a>
            <hr class="my-4">
            <h6>Les prix</h6>
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <button class="btn btn-info mb-2">Une matinée : {{ sallepriver.PrixMatin }}€</button>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <button  class="btn btn-info mb-2">Un après-midi : {{ sallepriver.PrixAprem }}€</button>
                </div>
                <button  class="btn btn-info mb-2">Une journée : {{ sallepriver.PrixJourne }}€</button>
            </div>
            <hr class="my-4">
            Tous nos salons de <b style="color: #994d00">4 et 6 places</b> sont équipés de :
            <br>
            <img src="img/router.png" class="card-img-top" alt="..." style="width: 34px;" >&nbsp;
            <img src="img/tasse.png" class="card-img-top" alt="..." style="width: 34px;" >&nbsp;
            <img src="img/water.png" class="card-img-top" alt="..." style="width: 34px;" >&nbsp;
            <img src="img/apple.png" class="card-img-top" alt="..." style="width: 34px;" >&nbsp;
            <img src="img/imprimante.png" class="card-img-top" alt="..." style="width: 34px;" >&nbsp;&nbsp;
            <img src="img/monitor.png" class="card-img-top" alt="..." style="width: 34px;" >
        </div>
    </div>
    <br>
{% endblock %}
