{% extends 'base.html.twig' %}
{% block title %}Coworking Gusto{% endblock %}
{% block body %}
    <br>

    <div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}

    {% if not contactForm.vars.valid %}
        <div class="alert alert-danger">
            Votre message n'a pas pu être envoyer.
        </div>
    {% endif %}
        <div class="card text-center" style="border-color: transparent;">
            <div class="card-body">
                <h4>Bella Italia&nbsp;<img src="img/italy.png" class="card-img-top" alt="..." style="width: 30px;"></h4>
                <div>
                    <img src="img/coffee (1).png" class="card-img-top" alt="..." style="width: 35px;">
                    <img src="img/food-and-restaurant.png" class="card-img-top" alt="..." style="width: 35px;">
                    <img src="img/coliseum.png" class="card-img-top" alt="..." style="width: 35px;">
                </div>
                <p class="card-text">
                    Imaginé sur nos terres d’Italie, depuis plus de 10 ans nous avons su nous imposer comme un important producteur et importateur de café. Comment ? En choisissant la meilleure qualité, en travaillant en partenariat avec les meilleurs producteurs du monde, pour vous créer le meilleur café. </p><p>Nous sommes aujourd’hui, spécialiste dans la vente de produits autour du café : machine automatique, machine expresso, moulin à café, café en grains et café en dosette.
                    Selon nous, le meilleur moment de consommer un bon café est lorsque nous travaillons, et partageons un moment entre collègues, amis ou encore avec de futurs partenaires. </p> <p>C’est pour cela que sur Paris nous avons décidé d’aménager nos locaux sous forme d’open space.
                    Travailler dans le confort, en dégustant le meilleur café est à retrouver dans votre espace de coworking Gusto-Coffee.
                </p>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1">Suivez nous sur</label>
                        <a href="https://www.facebook.com/"><button type="button" class="form-control" placeholder="First name" style="background-color: #008ae6; color: white">Facebook</button></a>
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1">Suivez nous sur</label>
                        <a><button type="button" class="form-control" placeholder="Last name" style="background-color: #cc6699; color: white">Instagram</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center" style="border-color: transparent;">

                    <div class="card-body" >
                        <h5>Ecologie et travail &nbsp;<img src="img/arbre.png" class="card-img-top" alt="..." style="width: 35px;"></h5>
                        <p class="card-text">Gusto-Coffee s'engage aussi auprès de mère nature, en vous proposant des salons équipées en matériaux 100 % recyclé.
                            Nos salons ont été désignés pour laisser entrer la lumière naturelle du soleil.
                            Nous luttons contre le gaspillage donc nous redistribuons nos denrées aux associations en fin de journée..</p>
                        <div>
                            <img src="img/desk.png" class="card-img-top" alt="..." style="width: 40px;">&nbsp;
                            <img src="img/ecology.png" class="card-img-top" alt="..." style="width: 40px;">&nbsp;
                            <img src="img/recycle-sign.png" class="card-img-top" alt="..." style="width: 40px;">
                        </div>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center" style="border-color: transparent;">
                    <div class="card">

                        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="img/office_green.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/office1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/office2.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                                <span class="carousel-control" aria-hidden="true"><i class="fas fa-arrow-alt-circle-right" id="fas"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card text-center" id="card-reser">
            <div class="card-header" id="card-reser">
                Contactez-nous !
            </div>
            <div class="card-body">
                {{ form_start(contactForm) }}
                {{ form_row(contactForm.Name) }}
                {{ form_row(contactForm.email) }}
                {{ form_row(contactForm.message) }}

                <button class="btn" id="btn">Envoyer</button>
                {{ form_end(contactForm) }}
            </div>
        </div>
        <br>


{% endblock %}