<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coworking{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/238a647158.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/238a647158.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="navbar-home">
        <a class="navbar-brand" href="{{ path('page_principal') }}"><img src="img/Gusto_7.png" class="mr-3" id="img_Gusto7"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if not app.user %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}" id="nav-link">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('public') }}" id="nav-link">Espaces public</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('private') }}" id="nav-link">Salons privées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}" id="nav-link">Notre histoire</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-link">Espace public</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-link">Salons privées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-link">Commander</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-link">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}" id="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-link">Mon compte</a>
                </li>
            </ul>
            {% endif %}
            {% if not app.user %}
            <span class="navbar-text">
    				<a class="nav-link" href="{{ path('app_login') }}" id="nav-link">Connexion</a>
    			</span>
            {% else %}

            <span class="navbar-text">
    				<a class="nav-link" href="{{ path('logout') }}" id="nav-link">Déconnexion</a>
    			</span>
            {% endif %}

        </div>
    </nav>
</div>

{% block body %}{% endblock %}

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>Services</h5>
                    <p>Inscription<br>Espace public<br>Salons privées</p>
                </div>
                <div class="col">
                    <h5>Contact</h5>
                    <p>Notre histoire<br>contact@gusto.fr<br>
                        01 34 67 00 90 <br>
                        <a href="#"><img src="img/facebook.png" class="card-img-top" alt="..." style="width: 29px;"></a>
                        <a href="#"><img src="img/instagram.png" class="card-img-top" alt="..." style="width: 29px;"></a>
                        <a href="#"><img src="img/linkedin.png" class="card-img-top" alt="..." style="width: 29px;"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
