{% extends 'base.html.twig' %}
{% block title %}Coworking Gusto{% endblock %}
{% block body %}
    <br>
    <div class="container">
    {% if not app.user %}


    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center" id="card_principal_2">
                <div class="card-body" >
                    <img src="img/Gusto_7.png" class="mr-3" id="img_Gusto7bis">
                    <br>
                    <h5>Ne passez pas à côté <b style="color: #994d00">de vos espaces de coworking</b></h5>
                    <p class="card-text">Identifiez-vous afin de profiter de notre réseau de professionnel grâce à notre outil créé pour vous la <b style="color: #994d00">teamwork</b> ainsi que de notre délicieu café.
                    </p>
                    <div>
                        <a href="#"><img src="img/thumbnail_large.png" class="card-img-top" id="thumbnail"></a>
                        <a href="#"><img src="img/teamwork.png" class="card-img-top" id="thumbnail"></a>
                    </div>
                    <br>
                        <a href="{{ path('app_login') }}" class="btn btn-primary" id="btn">Connectez-vous</a>
                    <br>
                    <br>
                    <a href="{{ path('app_register') }}" style="color: black;">Pas encore de compte ? Inscrivez vous</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/screen.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="img/screen (1).jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="img/screen (2).jpg" class="d-block w-100">
                        </div>
                    </div>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control" aria-hidden="true"><i class="fas fa-arrow-alt-circle-right" id="fas"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

        <div class="card card-body text-center" id="card-reservation-index">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" id="card-reser">
                        <div class="card-header" id="card-reser">
                            Vous êtes plutôt <img src="img/bubble-speech.png" class="card-img-top" alt="..." style="width: 30px;" >
                        </div>
                        <div class="card-body">
                            <h5>Espace public <img src="img/leo.png" class="card-img-top" alt="..." style="width: 23px;" ></h5>
                            <p class="card-text">Êtes vous prêt a travailler avec vos signes astrologique ?</p>
                            <a href="{{ path('public') }}" class="btn btn-primary" id="btn">En savoir plus</a>
                            <hr class="my-4">
                            <h5>Salons privées <img src="img/astronaut.png" class="card-img-top" alt="..." style="width: 30px;" ></h5>
                            <p class="card-text">Lance Armstrong a mis le pied sur la Lune, à votre tour d'essayer !</p>
                            <a href="{{ path('private') }}" class="btn btn-primary" id="btn">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" id="card-reser">
                        <div class="card-header" id="card-reser">
                            Gusto services <img src="img/add-friend.png" class="card-img-top" alt="..." style="width: 30px;" >
                        </div>
                        <div class="card-body">
                            <h5>Outils informatique <img src="img/ordi.png" class="card-img-top" alt="..." style="width: 23px;" ></h5>
                            <p class="card-text">Gusto a mis à votre disposition, la possibilité de commander du support informatique. Soyez équipé pour travailler dans les meilleures conditions</p>
                            <a href="{{ path('food') }}" class="btn btn-primary" id="btn">En savoir plus</a>
                            <hr class="my-4">
                            <h5>Restauration <img src="img/tasse.png" class="card-img-top" alt="..." style="width: 30px;" ></h5>
                            <p class="card-text"> Gusto, vous accompagne toute au long de la journée avec nos délicieux repas fait maison 100 % produit français et notre magnifique sélection de café</p>
                            <a href="{{ path('food') }}" class="btn btn-primary" id="btn">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center" id="card_principal_4">
                <div class="card-body" >
                    <h5>Profitez de nos espaces verts &nbsp;<img src="img/arbre.png" class="card-img-top" id="arbre"></h5>
                    <p class="card-text">Au coeur de la capital parisienne, nous avons installé un espace vert, écologique, respectif de la nature. Soigneusement pensé, parfaitement aménager pour que vous et vos collègues puissent travailler dans de conditions idéales.</p>
                    <div>
                        <a href="#"><img src="img/friends.png" class="card-img-top" alt="..." id="friends"></a>
                        <a href="#"><img src="img/toureiffeil.png" class="card-img-top" id="toureiffeil"></a>
                        <a href="#"><img src="img/bureau.png" class="card-img-top" id="bureau"></a>
                    </div>
                    <br>
                    <a href="{{ path('contact') }}" class="btn btn-primary" id="btn">En savoir plus</a>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center" id="card_principal_5">
                <div class="card">

                    <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/office_green.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/office1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/office2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                            <span class="carousel-control" aria-hidden="true"><i class="fas fa-arrow-alt-circle-right" id="fas"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="card text-center" id="card-reser">
            <div class="card-header" id="card-reser">
                Les news de Gusto-Coffee <img src="img/newspaper.png" class="card-img-top" alt="..." style="width: 30px;" >
            </div>
            <div class="card-body">
                {% for News in LesNews %}
                    <div class="alert alert-info" role="alert">
                        <img src="img/new.png" class="card-img-top" alt="..." style="width: 30px; float: left;">{{ News.titre }}
                    </div>
                {% endfor %}
                <a href="{{ path('news') }}" class="btn btn-primary" id="btn" >Consulter les news</a>
            </div>
        </div>
    <div class="card card-body text-center" id="card-reservation-index">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" id="card-reser">
                    <div class="card-header" id="card-reser">
                        Vos dernières commandes <img src="img/salad (1).png" class="card-img-top" alt="..." style="width: 30px;" >
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" id="btn" aria-controls="collapseExample">Consulter</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" id="card-reser">
                    <div class="card-header" id="card-reser">
                        Vos dernières réservations
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" id="btn" aria-controls="collapseExample">Réserver une place</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="card mb-3 text-center" id="card-reservation-index">
            <div class="collapse" id="collapseExample">
                <div class="card card-body" id="card-reservation-index">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Espace public</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="{{ path('public') }}" class="btn btn-primary" id="btn">Réserver ici</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Salons privées</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="{{ path('private') }}" class="btn btn-primary" id="btn">Réserver ici</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body text-center" id="card-reservation-index">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" id="card-reser">
                        <div class="card-header" id="card-reser">
                            Vos derniers messages <img src="img/conversation.png" class="card-img-top" alt="..." style="width: 30px;" >
                        </div>
                        <div class="card-body">
                            {% for News in LesNews %}
                                <div class="alert alert-info" role="alert">
                                    <img src="img/new.png" class="card-img-top" alt="..." style="width: 30px; float: left;">{{ News.titre }}
                                </div>
                            {% endfor %}
                            <a href="{{ path('news') }}" class="btn btn-primary" id="btn" >Consulter les news</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" id="card-reser">
                        <div class="card-header" id="card-reser">
                            Demandes d'ajout <img src="img/add-friend.png" class="card-img-top" alt="..." style="width: 30px;" >
                        </div>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" id="btn" aria-controls="collapseExample">Consulter</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <br>



{% endblock %}